{
    "components": ["nombre_del_componente"],
    "plugins": {
        "system": ["nombre_del_plugin_de_sistema", "otro_nombre_distinto_de_plugin_de_sistema"],
        "content": ["nombre_del_plugin_de_contenido"]
    },
    "modules": {
        "site": ["todavia_no_implementado"],
        "admin": ["todavia_no_implementado"]
    },
    "package": "un_nombre_para_el_paquete_opcional_y_solo_uno"
}